
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2B2B2B;
}

header{
    background-color: #171010;
    position: relative;
}

header nav{
    width: 20%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
    font: 15px 'Roboto Slab', serif;
    font-weight: 500;
}

header nav ul li{
    padding: 5px 15px;
    border-radius: 20px;
}

header nav ul li:hover{
    background-color: red;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

main{
    background-color: #2B2B2B;
    height: 58vh;
}

main .mouse-killer-desk{
    width: 60%;
    height: 300px;
    background-color: rgb(7, 241, 7);
    margin:100px auto;
    position: relative;
    border: 5px solid green;
    box-sizing: content-box
}

main .mouse-killer-desk .active-mouse{
    background: url(../img/vector-simple-cartoon-mouse-svg-odg.jpg) no-repeat;
    background-size: contain;
}